.task-all {
    color: white;
    border-radius: 7px;
    padding: 4px;
    position: absolute;
    text-align: center;
    border: solid 1px #444;
}

.task-title {
    font-size: 1rem;
}

.task-description {
    font-size: .6rem;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
}

.task-button {
    width: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.task-button-img {
    height: 15px;
}